<form class="login-form w-100 m-auto" (submit)="onSubmit($event)">
    <img class="logo mx-auto d-block" src="https://svgs.scryfall.io/sets/planeswalker.svg" />
    <div class="form-floating">
        <input type="text" class="form-control" [ngClass]="{'is-invalid':invalidUsername}" id="inputUsername" placeholder="username" name="username" [(ngModel)]="username">
        <label for="inputUsername">Username</label>
        <div class="invalid-feedback">Enter a username</div>
    </div>
    <button class="btn btn-primary w-100 py-2 my-2" type="submit">Reset Password</button>
</form>
<p><a routerLink="/collection">Collection</a></p>
<p><a routerLink="/login">Login</a></p>