<div class="filter-panel">
    <div class="horizontal">
        <mat-form-field class="filter-category">
            <mat-label>Count:</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of ['All','=0','&gt;=1','&gt;=4','&lt;4']" [value]="item" (click)="onCountChange(item)">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-category">
            <mat-label>Price:</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of ['All','&gt;=$1.00','&gt;=$10.00']" [value]="item" (click)="onPriceChange(item)">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter-category">
            <mat-label>Rarity:</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of ['All','Common','Uncommon','Rare','Mythic']" [value]="item" (click)="onRarityChange(item)">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>

    <div class="horizontal">
        <button mat-stroked-button color="primary" class="sm-button" (click)="clearSelectedCard()">X</button>
        <input #cardSearch id="cardSearch" type="text" class="form-control" [(ngModel)]="card" [ngbTypeahead]="search"
            [inputFormatter]="formatter" [resultFormatter]="formatter" (selectItem)="onSelectItem($event)" />
    </div>
</div>