.filter-panel {
    width: fit-content;
    margin: auto;
}

p {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.sm-button {
    min-width: 0px;
}

.filter-category {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}