<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetSetList_Url" value="https://mtg-inventory.azurewebsites.net/api/Sets" />
    <!-- <add key="GetSetList_Url" value="https://localhost:7269/api/Sets" /> -->
    <add key="GetCollection_Url" value="https://mtg-inventory.azurewebsites.net/api/Collection/{0}" />
    <!-- <add key="GetCollection_Url" value="https://localhost:7269/api/Collection/{0}" /> -->
    <add key="PutCollection_Url" value="https://mtg-inventory.azurewebsites.net/api/Collection/{0}/{1}" />
    <!-- <add key="PutCollection_Url" value="https://localhost:7269/api/Collection/{0}/{1}" /> -->
    <add key="SetSearch_Url" value="https://api.scryfall.com/cards/search?q=set:{0} and game:paper&amp;order=set&amp;unique=prints&amp;page={1}" />
  </appSettings>
</configuration>  