<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Firestore_DB" value="mtg-inventory-9d4ca" />
    <add key="Firestore_Collection" value="User_Inv" />
    <add key="Firestore_CardsField" value="Cards" />
    <add key="GetSetList_Url" value="https://api.scryfall.com/sets" />
    <add key="SetSearch_Url" value="https://api.scryfall.com/cards/search?q=set:{0} and game:paper&amp;order=set&amp;unique=prints&amp;page={1}" />
  </appSettings>
  <connectionStrings>
    <add name="SQLite_File" connectionString="Data source=inv.db" />
    <add name="SQLite_InMemory" connectionString="Data source=:memory:" />
  </connectionStrings>
</configuration>  