<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Firestore_DB" value="mtg-inventory-9d4ca" />
    <add key="Firestore_Collection" value="User_Inv" />
    <add key="Firestore_CardsField" value="Cards" />
    <add key="Card_Field_Number" value="CollectorNumber" />
    <add key="Card_Field_Name" value="Name" />
    <add key="Card_Field_Counts" value="Counts" />
    <add key="DB_Card_Field_SetCode" value="SetCode" />
    <add key="DB_Card_Field_Number" value="CollectorNumber" />
    <add key="DB_Card_Field_Name" value="Name" />
    <add key="DB_Card_Field_Attrs" value="Attrs" />
    <add key="DB_Card_Field_Count" value="Count" />
    <add key="DB_Card_Field_Rarity" value="Rarity" />
    <add key="DB_Card_Field_ColorIdentity" value="ColorIdentity" />
    <add key="DB_Card_Field_ManaCost" value="ManaCost" />
    <add key="DB_Card_Field_Price" value="Price" />
    <add key="DB_Card_Field_PriceFoil" value="PriceFoil" />
    <add key="DB_Card_Field_FrontText" value="FrontText" />
    <add key="DB_Card_Field_TypeLine" value="TypeLine" />
    <add key="GetSetList_Url" value="https://mtg-inventory.azurewebsites.net/api/Sets" />
    <add key="GetCollection_Url" value="https://mtg-inventory.azurewebsites.net/api/Collection/{0}" />
    <add key="SetSearch_Url" value="https://api.scryfall.com/cards/search?q=set:{0} and game:paper&amp;order=set&amp;unique=prints&amp;page={1}" />
  </appSettings>
  <connectionStrings>
    <add name="SQLite_File" connectionString="Data source=inv.db" />
    <add name="SQLite_InMemory" connectionString="Data source=:memory:" />
  </connectionStrings>
</configuration>  