<div class="table-panel">
  @if (!loading){
    @if (selectedCard) {
      <div>
        <app-card-row [card]="selectedCard" [(expandedCard)]="selectedCard!.index" ></app-card-row>
      </div>
    } @else {
      @for (card of cardList; track card) {
        <app-card-row [card]="card" [(expandedCard)]="expandedCard" ></app-card-row>
      }
    }
  }
  @else if (curSet != null) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border m-1" role="status">
      <span class="sr-only"></span>
    </div>
    <p class="aligned-message">Loading cards...</p>
  </div>
}
</div>