<div *ngIf="card?.card" [class]="hasMouse ? 'selected-row' : card?.index! % 2 == 0 ? 'even-row' : 'odd-row'"
        (mouseover)="hasMouse=true" (mouseout)="hasMouse=false" (click)="onClick()">
        <div class="card-row">
                <p class="id bold">{{card?.card!.collectorNumber}}</p>
                <p class="name bold">{{card?.card!.name}}</p>
                <p class="price" [class]="card?.card!.price! > 1 ? 'bold' : ''">${{card?.card!.price}}</p>
                <p class="count" [class]="card?.totalCount! > 0 ? 'bold' : ''">{{card?.totalCount}}</p>
        </div>
        <div *ngIf="card?.index === expandedCard" class="card-row">
                <app-card-panel [curCard]="card?.card"></app-card-panel>
                <app-ctc-view [curCard]="card"></app-ctc-view>
        </div>
</div>