.card-row {
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.id {
    width: 3em;
}

.name {
    width: 90%
}

.price {
    width: 4em
}

.count {
    width: 1em;
}

.bold {
    font-weight: bold;
}

.even-row {
    background-color: aliceblue;
}

.odd-row {
    background-color: honeydew;
}

.selected-row {
    background-color: aquamarine;
}