<div class="title-header">
    <img src={{this.getSetIcon()}} class="top-icon" />

    <mat-form-field class="set-dropdown">
        <mat-label>Active Set:</mat-label>
        <mat-select>
            <mat-option *ngFor="let set of setList" [value]="set.name" (click)="routeTo(set)">
                <img src={{set.iconUrl}} class="menu-icon" />
                {{set.name}} ({{set.code}})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <img src={{this.getSetIcon()}} class="top-icon" />
</div>