<div class="title-header">
  <img src={{this.getSetIcon()}} class="top-icon" />

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-primary" id="setDropdown" ngbDropdownToggle>
      {{this.getSetDisplayName()}}
    </button>
    <div ngbDropdownMenu aria-labelledby="setDropdown" class="set-dropdown">
      @if (setList.length > 0) {
        @for (set of setList; track set) {
          <button ngbDropdownItem (click)="routeTo(set)">
            <img src={{set.iconUrl}} class="menu-icon"/>
            {{set.name}} ({{set.code}})
          </button>
        }
      }
      @else {
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
          Loading sets...
        </div>
      }
    </div>
  </div>

  <img src={{this.getSetIcon()}} class="top-icon" />
</div>