.CastingCost img {
    max-height: 15px;
}

.tab-content, .tab-pane { /*These are created by Bootstrap, so I don't think I can just give them the flexprep class*/
    display: flex;
    flex: 1;
    flex-direction: column;
}