html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.FlexPanel { /* All divs leading to a panel that needs its own scroll bar need to use this */
    display: flex;
    flex: 1;
    flex-direction: column;
}

.RootElement {
    /* background: black; */
    /* padding: 10px; */
    width: 100%;
    height: 100%;
}
