<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_Name" value="MTG-Inventory" />
    <add key="DB_Endpoint" value="https://mtg-inventory.documents.azure.com:443/" />
    <add key="DB_Key" value="fmo4nUmFhIUotZFeq6v3TZGQhGg3VsZRGMmQqreeB6di4ICxVJovNeqCdkkQOLivFmO6YfuwTPArACDbXjrVjA==" />
    <add key="GetSetList_Url" value="https://api.scryfall.com/sets" />
    <add key="GetSymbolList_Url" value="https://api.scryfall.com/symbology" />
    <add key="SetSearch_Url" value="https://api.scryfall.com/cards/search?q=set:{0} and game:paper&amp;order=set&amp;unique=prints&amp;page={1}" />
  </appSettings>
  <!-- <connectionStrings>
    <add name="SQLite_File" connectionString="Data source=inv.db" />
    <add name="SQLite_InMemory" connectionString="Data source=:memory:" />
  </connectionStrings> -->
</configuration>  